body{
    background-color:pink;
}
p:hover {
    background-color:rgb(152, 192, 236);
  }
h4{
    color:rgb(161, 75, 183);
}
h3{
    color:rgb(105, 90, 160);
}
h3{
    font-size:20px;
}

p{
    color:rgb(124, 39, 89);
}
span{
    color:green;
}
span:hover{
    background-color:aquamarine;
}
h3{
    font-style: italic;
}

h4{
    font-style: inherit;
}










table{
    border-style: dotted;
}
th, td {
    border: 1px solid black;
  }
th {
   color:purple;
      }
      td{
        color:crimson;
      }
       tr:nth-child(even) {
        background-color:blue;
      }
      td {
        text-align: center;
      }
      
     .chips{
        font-size:20;
        color:red;

     }
     h2:hover{
          color:blueviolet;
     }

   h2{
    
        text-shadow: 2px 3px 5px red;
   }
   
  th,td {
    width:200px;
    padding:0px 4px 4px 4px;
    margin: -28px 0px -10px 100px;
    background: lightblue;
    border-top: 2px solid #000;
    border-right: 4px dashed brown;
    border-bottom: 8px double yellow;
    border-left: 16px inset purple;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:blueviolet;
  }